
@{
    ViewData["Title"] = "AboutUs";
}

@*Creates multiple div classes to style the website, and display information in the <p> tags*@
<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <p>Keen's Wholesale prides itself as being one of the greatest wholesale businesses that offer omnichannel experiences.</p>
        <p>Founded in 2022 by Kenny Rajkumar, Keen's Wholesale is a Canadian-based e-commerce platform whose aim is to provide an excellent trading platform to the international trade community.</p>
        <p>The company serves wholesale buyers and suppliers from over 190 countries worldwide.</p>
        <p>Please allow us to help you build your business and market your products precisely how you imagined it!</p>
    </div>
</div>

