
@{
    ViewData["Title"] = "ContactUs";
}

@*Creates multiple div classes to style the website, and display information in the <p> tags*@
<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <h3>Learn how to find us:</h3>
        <br>
        <h5>Email Us!</h5>
        <br>
        <h5>ask@kwsupport.ca</h5>
        <br>
        <h5>Phone Us!</h5>
        <br>
        <h5>1-(800)-123-4567</h5>
    </div>
</div>


